body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.container {
  /* width: 95%; */
  max-width: 1100px;
  color: #1b1b1b;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 600;
  display: block;
  overflow: visible;
}


@media screen and (max-width: 480px){
  .container {
      width: 100%;
  }
}

@media screen and (min-width: 1440px){
    .container {
        max-width: 1300px;
    }
}

